In [1]:
import os
import pandas as pd

In [2]:
path = os.path.join('Resources', 'purchase_data.csv')
df = pd.read_csv(path)

## Player Count

In [3]:
df_players_summary = pd.DataFrame({
    'Total Players': [len(df['SN'].unique())]
})
df_players_summary

   Total Players
0            576

## Purchasing Analysis (Total)

In [4]:
purchasing_summary = pd.DataFrame({
    'Number of Unique Items': [len(df['Item ID'].unique())],
    'Average Price': df['Price'].mean(),
    'Number of Purchases': len(df['Purchase ID'].unique()),
    'Total Revenue': df['Price'].sum()
})

purchasing_summary['Average Price'] = purchasing_summary['Average Price'].map("${:,.2f}".format)
purchasing_summary['Total Revenue'] = purchasing_summary['Total Revenue'].map("${:,.2f}".format)

purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [5]:
total_count = df.drop_duplicates(["SN"])['Gender'].value_counts()

df_gender_ratio = pd.DataFrame({
    'Total Count': total_count,
    'Percentage of Players': (total_count/total_count.sum()*100).round(2).astype(str) + '%'
})
df_gender_ratio

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [6]:
purchasing_gender_summary = pd.DataFrame({
    'Purchase Count': df['Gender'].value_counts(),
    'Average Purchase Price': df.groupby('Gender')['Price'].mean().map("${:,.2f}".format),
    'Total Purchase Value': df.groupby('Gender')['Price'].sum().map("${:,.2f}".format),
    'Avg Total Purchase per Person': (df.groupby('Gender')['Price'].sum()/df.groupby('Gender')['SN'].nunique()).map("${:,.2f}".format)
})

purchasing_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [7]:
df = df.drop_duplicates(["SN"])
bin_ls = [0, 10, 15, 20, 25, 30, 35, 40, 46]
label_ls = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_group = pd.cut(
    df['Age'],
    bins = bin_ls,
    labels = label_ls,
    right = False
)

age_summary = pd.DataFrame({
    'Total Count': age_group.value_counts().sort_index(),
    'Percentage of Players': (age_group.value_counts() / total_count.sum()*100).round(2).astype(str) + '%'
})

age_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [8]:
df = pd.read_csv(path)
age_group = pd.cut(
    df['Age'],
    bins = bin_ls,
    labels = label_ls,
    right = False
)

age_df = df.assign(Age_Ranges=age_group)


age_df

age_purchase_summary = pd.DataFrame({
    'Age Ranges': label_ls,
    'Purchase Count': age_df.groupby('Age_Ranges')['Price'].count(),
    'Average Purchase Price': age_df.groupby('Age_Ranges')['Price'].mean().map("${:,.2f}".format),
    'Total Purchase Value': age_df.groupby('Age_Ranges')['Price'].sum().map("${:,.2f}".format),
    'Avg Total Purchase per Person': (age_df.groupby('Age_Ranges')['Price'].sum() / age_df.groupby('Age_Ranges')['SN'].nunique()).map("${:,.2f}".format)
})

formatted_summary = age_purchase_summary.set_index('Age Ranges')
formatted_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [9]:
spenders_df = df[['SN','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
top_spenders_df = spenders_df.groupby(['SN'])['Price']

spenders_summary = pd.DataFrame({
    'Purchase Count': top_spenders_df.count(),
    'Average Purchase Price': top_spenders_df.mean().map("${:,.2f}".format),
    'Total Purchase Value': top_spenders_df.sum()
})

spenders_df = spenders_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)
spenders_df

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.41                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

In [10]:
items_df = df[['Item ID','Item Name','Purchase ID','Price']].sort_values('Purchase ID', ascending=False)
popular_items_df = items_df.groupby(['Item ID', 'Item Name'])['Price']

popular_item_summary = pd.DataFrame({
    'Purchase Count': popular_items_df.count(),
    'Item Price': popular_items_df.mean().map("${:,.2f}".format),
    'Total Purchase Value': popular_items_df.sum().map("${:,.2f}".format)
})

formatted_df = popular_item_summary.sort_values(by='Purchase Count', ascending=False).head(5)

formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [11]:
profitable_df = popular_item_summary.sort_values(by='Total Purchase Value', ascending=False).head(5)

profitable_df['Item Price'] = profitable_df['Item Price']
# .map("${:,.2f}".format)
profitable_df['Total Purchase Value'] = profitable_df['Total Purchase Value']
# .map("${:,.2f}".format)

profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48

# Analysis Summary

### 1st observable trend

The analysis on Gender Demographics presents that the majority of the game players are male, the percentage up to 84%. 
It is believed this finding is valuable for marketing department to target potential consumers.

### 2nd observable trend

Furthermore, the Age Demographics determines that almost a half of players are between 20 and 24 year old, about 45% of all the players. 
Obviously, a big amount of 5 year younger or older people, individually 18% and 13%, like playing this game as well.

### 3rd observable trend

Analysis on the popularity of the game items indicates that the most popular item is "Oathbreaker, Last Hope of the Breaking Storm' which has been purchased the most. Followings are the items named "Fiery Glass Crusader", "Extraction, Quickblade Of Trembling Hands", "Nirvana", and "Pursuit, Cudgel of Necromancy". This finding makes a significant contribution to the game design department by implying player's favors.